body {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: #dcdde0; */
}

.name-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height:100px;
    margin-bottom:5px;
}

section {
    flex: 1 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7.0rem;
    gap: 6.25rem;
    align-content: center;
    /* background-color: red; */
}

#forca {
    width: 300px;
    height: 300px;
    margin-bottom:4.5rem
}

.container-img-palavra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.linha-palavra {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center
}

.botoes-letra {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-right:10px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

span {
    height: 21px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #DC1F27;
    width: 40px;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    display: flex;
    justify-content: center;
    margin: 3px;
    height: 42px;
    width: 42px;
    padding: 10px 0;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

button:hover {
    background-color: #0682ac;
}

button.novo-bt {
    width: auto;
    padding: 10px;
}

.certa, .certa:hover {
    background: #0682ac;
    border: 1px solid #0682ac;
    cursor: inherit;
}

.errada, .errada:hover {
    background: #DC1F27;
    border: 1px solid #DC1F27;
    cursor: inherit;
}

@media(max-width:600px){
    section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        /* background-color: red; */
    }
}